.swim_container {
    /* position: relative; */
    border: 3px solid red;
}

.box {
    border: 2px dotted purple;
    width: 180px;
}

/* .ring {
    position: relative;
    left: 10px;
    top: 90px;
} */
/* .ring {
    position: absolute;
    top: 100px;
    left: 100px;
} */
.ring {
    position: sticky;
    top: 0;
}

.another {
    border: 3px solid green;
}

.dummy {
    border: 2px solid blueviolet;
    width: 200px;
    height: 200px;
}